* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

.col-4 {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.col-8 {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.left-side {
  position: fixed;
  height: 100vh;
  background: #072874;
  box-shadow: 0px 0px 20px #000000;
  z-index: 20;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 4em);
}

.title {
  font-size: 2.5em;
  font-family: "Lato";
  border-bottom: 2px solid white;
  color: white;
  padding-bottom: 0.25em;
  margin-bottom: 1rem;
}

.form-container {
  border: 2px solid white;
  padding: 1rem;
}

.form-group {
  margin: 1em 0;
}

.inputField {
  padding: 0.25rem;
  display: block;
  width: 100%;
  font-size: 1.25em;
}

input:focus {
  outline: none;
}

label {
  color: white;
  font-size: 1.5em;
  display: block;
  margin-bottom: 0.5rem;
}

.btn {
  display: block;
  width: 100%;
  font-size: 1.25em;
  margin-top: 2rem;
  padding: 0.25em 0;
  background: #c9384f;
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  filter: drop-shadow(0px 0px 10px #000000);
}

/* Right Side ##################  */

.right-side {
  margin-left: 25%;
  min-height: 100vh;
  background: #ceffff;
  position: relative;
}

.text-black {
  border-color: black;
  padding: 1rem;
  font-size: 3rem;
  margin-bottom: 0;
}

.card-area {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
}

.oreo-card {
  box-shadow: 0px 0px 10px #111111;
  height: fit-content !important;
  width: 259.5px;
  border: 2px solid black;
  position: absolute;
  cursor: move;
  /* resize: both;
  overflow: auto;*/
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 30%;
  filter: drop-shadow(0px 0px 10px #000000);
}

.card-body img {
  user-select: none;
}
/* OREOSSSSSSSSSSSS ############# */

.oreo-top {
  margin-bottom: -40%;
}

.oreo-cream {
  margin-top: 8%;
  transform: scale(0.8, 1);
  margin-bottom: -35%;
}

.oreo-bottom {
  margin-bottom: -38%;
}

.oreo-empty {
  min-height: 10%;
  margin-top: 60%;
}

/* END OREOSSSSSSSSSSSS ############# */

.card-title {
  font-size: 1.5em;
  padding: 0.5rem;
  border-top: 1px solid black;
  background: #c9384f;
  color: white;
  cursor: move;
}

@media only screen and (max-width: 780px) {
  .left-side {
    position: relative;
    width: 100%;
  }
  .right-side {
    position: relative;
    width: 100%;
    margin-left: 0 !important;
  }
}
